body{
    display:flex;
    align-items:center;
    justify-content:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

.container{
    background-color: whitesmoke;
    border-radius: 32px;
    padding: 32px;
    box-shadow: #061c34;
}

#submitButtonID{
    background-color: #061c34;
    border-color: #061c34;
}

#submitButtonID:hover{
    background-color: #061c34e0;
    border-color: #061c34e0;
}

#cancelButtonID{
    border-color: #061c34;
    color: #061c34;
}

#cancelButtonID:hover{
    background-color: white;
}


.title{
    font-size: xx-large;
    color: #061c34;
}

#extrasNoteID{
    margin-top: 8px;
}

#usernameError, #passwordError, #emailError, #ageRangeError, #chkTandCError{
    color: rgba(229, 58, 58, 0.885);
} 

a{
    text-decoration: none;
    font-weight: bold;
}

#btnFilter{
    background: #061c34;
    margin: 16px;
}

#itemDisplayCard{
    border: 1px solid #1d385550;
    border-radius: 16px;
    padding:16px;
    margin-right:8px;
    background-color: #061c34;
}
#countCardDigits{
    font-family:Trebuchet MS;
    font-size:256px;
    color:white
}
#countCardTitle{
    font-family:Trebuchet MS;
    font-size:96px;
    color:whitesmoke
}

@media screen and (max-width:576px) {
    .container{
        padding: 16px;
    }
}
/* style="border:2px solid #061c34aa;border-radius:32px;padding:16px;margin-right:8px;" */