body 
    {
        border:1px solid;
        font-family:Sans-serif;
    }

#h3_font
    {
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

.space 
    {
        letter-spacing:11px;
        color:blueviolet;
    }

.box
    {
        border:2px solid green;
        padding:10px 30px 10px 25px;
        width:auto;
        background-color:grey;
        float:left;
    }

#first 
    {
        margin-left:100px;
    }

#second
    {
        margin-left:60px;
    }

.box_2
    {
        border:2px solid green;
        padding:25px;
        float:left;
        width:auto;
    }

#first_2
    {
        margin-left:15px;
        padding-right:60px;
    }

#second_2
    {
        margin-left:20px;
        padding-right:410px;
    }

#third_2
    {
        margin-left:20px;
        padding-right:220px;
    }